.elementor-28 .elementor-element.elementor-element-5f2c269:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-5f2c269>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-5f2c269 {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 60px 0px;
}

.elementor-28 .elementor-element.elementor-element-5f2c269>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-0841b9b>.elementor-element-populated {
    margin: 0px 30px 0px 0px;
    --e-column-margin-right: 30px;
    --e-column-margin-left: 0px;
}

.elementor-28 .elementor-element.elementor-element-db26568 {
    text-align: left;
}

.elementor-28 .elementor-element.elementor-element-db26568 img {
    width: 194px;
}

.elementor-28 .elementor-element.elementor-element-895f412 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "Jost", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(7px/2);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(7px/2);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(7px/2);
    margin-left: calc(7px/2);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-7px/2);
    margin-left: calc(-7px/2);
}

body.rtl .elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-7px/2);
}

body:not(.rtl) .elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-7px/2);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-28 .elementor-element.elementor-element-7e276c7 {
    --e-icon-list-icon-size: 14px;
}

.elementor-28 .elementor-element.elementor-element-38abfc2 .elementor-heading-title {
    color: var(--e-global-color-secondary);
    font-family: "Jost", Sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px/2);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px/2);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(5px/2);
    margin-left: calc(5px/2);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px/2);
    margin-left: calc(-5px/2);
}

body.rtl .elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-5px/2);
}

body:not(.rtl) .elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-5px/2);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-28 .elementor-element.elementor-element-1dfed4b {
    --e-icon-list-icon-size: 7px;
}

.elementor-28 .elementor-element.elementor-element-bbcd9e8:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-bbcd9e8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-accent);
}

.elementor-28 .elementor-element.elementor-element-bbcd9e8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.elementor-28 .elementor-element.elementor-element-bbcd9e8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-64978a6 {
    text-align: center;
}

.elementor-28 .elementor-element.elementor-element-64978a6 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

/* Start custom CSS */
.no-margin p {
    margin: 0px
}

/* End custom CSS */