.elementor-16 .elementor-element.elementor-element-125d157>.elementor-container {
    min-height: 100px;
}

.elementor-16 .elementor-element.elementor-element-125d157>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-125d157:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-125d157>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-125d157 {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 9999;
}

.elementor-16 .elementor-element.elementor-element-125d157>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu .elementor-item {
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-item:hover,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--dropdown a:hover,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var(--e-global-color-accent);
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: var(--e-global-color-accent);
}

.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-16 .elementor-element.elementor-element-d28b932 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.elementor-16 .elementor-element.elementor-element-b77cadb .elementor-button {
    font-family: "Jost", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-primary) 0%, var(--e-global-color-34f4494) 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 15px 30px 15px 30px;
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-cf029b2 {
        width: 70%;
    }

    .elementor-16 .elementor-element.elementor-element-77b743d {
        width: 30%;
    }
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-cf029b2 {
        width: 16.654%;
    }

    .elementor-16 .elementor-element.elementor-element-77b743d {
        width: 62.385%;
    }

    .elementor-16 .elementor-element.elementor-element-037aae5 {
        width: 20.265%;
    }
}